D2D - Drafts to Digital Pipeline.json
{
  "name": "Student Tools Hub Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d2d-convert",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "14d2c917-ee44-4d54-8936-f930c9bcf4a1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ],
      "webhookId": "d2d-convert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-convert",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "convert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "965551c1-8f9f-4659-b39e-5fcef52ba0e4",
      "name": "Route Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the multimodal Gemini API request\nconst body = $input.first().json.body;\nconst images = body.images; // Array of { index, base64 }\n\n// Build the 'parts' array: one inline_data per image + the text prompt\nconst parts = [];\n\n// Add each image as an inline_data part\nfor (const img of images) {\n  parts.push({\n    inline_data: {\n      mime_type: 'image/jpeg',\n      data: img.base64\n    }\n  });\n}\n\n// Add the master prompt as the final part\nparts.push({\n  text: `You are a professional transcription assistant. You have been given ${images.length} image(s) of handwritten notes, essays, or mind maps.\n\nYour task:\n1. CAREFULLY read the handwriting in each image, in the exact order they were provided (Image 1, Image 2, etc.).\n2. UNDERSTAND the logical flow and context across all pages — they form a single continuous document.\n3. TRANSCRIBE the handwriting into clean, well-structured digital text.\n4. PRESERVE the author's original intent, ideas, paragraph structure, and any headings or bullet points.\n5. If the handwriting contains a mind map, convert it into a logical outline or structured text.\n6. Separate content from different pages with a blank line, but maintain narrative continuity.\n7. Fix obvious spelling errors in the valid handwriting, but do NOT add, remove, or rephrase the author's ideas.\n8. STRICT DELETION RULE: You must COMPLETELY IGNORE any text that is visibly crossed out or marked for deletion. This includes:\n   - Single letters or words with a line drawn through them.\n   - Entire sentences with a continuous horizontal line struck through them.\n   - Whole paragraphs or sections that have a large 'X' drawn over them or are boxed out.\n   Do NOT transcribe these sections. Do NOT leave placeholders (like \"[deleted]\"). Simply skip the crossed-out text and seamlessly connect the surrounding valid words.\n9. Do NOT add any commentary, preamble, or summary — output ONLY the final transcribed text.\n\nBegin transcription now:`\n});\n\nconst geminiPayload = {\n  contents: [{\n    parts: parts\n  }],\n  generationConfig: {\n    temperature: 0.2,\n    topP: 0.8,\n    topK: 40,\n    maxOutputTokens: 8192\n  },\n  safetySettings: [\n    { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n  ]\n};\n\nreturn { json: { geminiPayload } };"
      },
      "id": "982950d7-df7b-4b8f-b1ff-fda2e72e3b40",
      "name": "Build Gemini Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ \"AIzaSyDo3oYeEMlPpgJw9ReW77mvITEGKMhXfB8\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 120000
        }
      },
      "id": "af267643-de91-4e05-802b-836f0b9a198a",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Navigate Gemini response structure\nlet text = '';\n\ntry {\n  if (response.body && response.body.candidates && response.body.candidates.length > 0) {\n    const candidate = response.body.candidates[0];\n    if (candidate.content && candidate.content.parts) {\n      text = candidate.content.parts\n        .filter(p => p.text)\n        .map(p => p.text)\n        .join('\\n');\n    }\n  }\n\n  // Fallback: direct structure without 'body' wrapper\n  if (!text && response.candidates && response.candidates.length > 0) {\n    text = response.candidates[0].content.parts\n      .filter(p => p.text)\n      .map(p => p.text)\n      .join('\\n');\n  }\n\n  if (!text) {\n    throw new Error('No text extracted from Gemini response');\n  }\n} catch (err) {\n  throw new Error(`Gemini extraction failed: ${err.message}. Raw keys: ${JSON.stringify(Object.keys(response))}`);\n}\n\nreturn { json: { text: text.trim() } };"
      },
      "id": "a433ee3b-e697-4345-842d-f69e7802c2dd",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// This handles type: 'error_report' from the frontend\nconst body = $input.first().json.body;\n\nreturn {\n  json: {\n    to: body.recipient,\n    subject: `[D2D Error] ${new Date().toISOString()}`,\n    htmlBody: `\n      <h2>Drafts to Digital — Error Report</h2>\n      <p><strong>Timestamp:</strong> ${body.timestamp}</p>\n      <p><strong>User Agent:</strong> ${body.userAgent}</p>\n      <p><strong>User Message:</strong> ${body.error.userMessage}</p>\n      <hr/>\n      <h3>Technical Detail</h3>\n      <pre style=\"background:#f4f4f4;padding:12px;border-radius:6px;font-size:13px;overflow-x:auto;\">${body.error.technicalDetail}</pre>\n    `\n  }\n};"
      },
      "id": "0458cfc7-cd4b-4898-9501-ec767410f584",
      "name": "Handle Error Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ \"jay-leigh.v@conversionscience.co.za\" }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "c8deaa9d-3fef-48b3-9f11-f3d66beab968",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        224
      ],
      "webhookId": "cfdd2b94-2a33-4362-badd-b658ff3d70ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "qmCIR8VCVH51du3B",
          "name": "Google Access"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { status: 'error_reported' } };"
      },
      "id": "90bb3dd9-34db-4000-9196-77bdb8744518",
      "name": "Error Email Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        224
      ]
    },
    {
      "parameters": {},
      "id": "a773e5e2-f08f-44f9-a8bb-dfae4cbe355a",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        1952
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nreturn {\n  json: {\n    to: 'jay-leigh.v@conversionscience.co.za',\n    subject: `[D2D Workflow Error] ${error.workflow?.name || 'Unknown'} — ${new Date().toISOString()}`,\n    htmlBody: `\n      <h2>n8n Workflow Error — Drafts to Digital</h2>\n      <p><strong>Workflow:</strong> ${error.workflow?.name || 'N/A'}</p>\n      <p><strong>Node:</strong> ${error.execution?.lastNodeExecuted || 'N/A'}</p>\n      <p><strong>Error:</strong> ${error.execution?.error?.message || 'Unknown error'}</p>\n      <hr/>\n      <h3>Full Error</h3>\n      <pre style=\"background:#f4f4f4;padding:12px;border-radius:6px;font-size:13px;overflow-x:auto;\">${JSON.stringify(error, null, 2)}</pre>\n    `\n  }\n};"
      },
      "id": "cf6eaa4d-8ac6-4ecb-8474-4844b8812895",
      "name": "Format Workflow Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        368
      ]
    },
    {
      "parameters": {
        "sendTo": "={{  \"jay-leigh.v@conversionscience.co.za\" }} ",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "5ae088e5-c9e8-48ea-98f1-a4a89b06818a",
      "name": "Send Workflow Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        368
      ],
      "webhookId": "79f1871b-3b27-4e66-bb60-9e450c3e38ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "qmCIR8VCVH51du3B",
          "name": "Google Access"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-transcribe",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "transcribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-template",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "template",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-reviewer",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "reviewer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond-error",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "error_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "id": "e035509f-a8f8-4bed-b7cd-d8919f1f95b9",
      "name": "Route by Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -208,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── Build Transcription Payload ───\nconst body = $('Webhook Trigger1').first().json.body;\nconst documents = body.documents || [];\n\nconst parts = [];\n\n// Add each document\nfor (const doc of documents) {\n  if (doc.type === 'inline') {\n    parts.push({\n      inline_data: {\n        mime_type: doc.mime_type,\n        data: doc.base64\n      }\n    });\n  } else if (doc.type === 'text') {\n    parts.push({ text: `[Content from ${doc.name}]:\\n${doc.content}` });\n  }\n}\n\n// Add the transcription prompt\nparts.push({\n  text: `You are a professional transcription assistant. You have been given ${documents.length} document(s) containing handwritten notes, essays, or mind maps.\n\nYour task:\n1. CAREFULLY read the handwriting in each document, in the exact order they were provided.\n2. UNDERSTAND the logical flow and context across all pages — they form a single continuous document.\n3. TRANSCRIBE the handwriting into clean, well-structured digital text.\n4. PRESERVE the author's original intent, ideas, paragraph structure, and any headings or bullet points.\n5. If the handwriting contains a mind map, convert it into a logical outline or structured text.\n6. Separate content from different pages with a blank line, but maintain narrative continuity.\n7. Fix obvious spelling errors in the handwriting, but do NOT add, remove, or rephrase the author's ideas.\n8. DO identify if the author had struck through lines or massive crossing out — this means the user has removed that content and does not want it transcribed.\n9. Do NOT add any commentary, preamble, or summary — output ONLY the transcribed text.\n\nBegin transcription now:`\n});\n\nconst geminiPayload = {\n  contents: [{ parts }],\n  generationConfig: {\n    temperature: 0.2,\n    topP: 0.8,\n    topK: 40,\n    maxOutputTokens: 8192\n  },\n  safetySettings: [\n    { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n  ]\n};\n\nreturn { json: { geminiPayload } };"
      },
      "id": "0c551c15-1d03-4145-a5b1-40a934c0c9a9",
      "name": "Build Transcription Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ \"AIzaSyDo3oYeEMlPpgJw9ReW77mvITEGKMhXfB8\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 300000
        }
      },
      "id": "0fb577ae-f97e-444b-b32c-198fcc8d2fa7",
      "name": "Call Gemini (Transcription)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        832
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\n\ntry {\n  if (response.body && response.body.candidates && response.body.candidates.length > 0) {\n    const candidate = response.body.candidates[0];\n    if (candidate.content && candidate.content.parts) {\n      text = candidate.content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n    }\n  }\n  if (!text && response.candidates && response.candidates.length > 0) {\n    text = response.candidates[0].content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n  }\n  if (!text) throw new Error('No text extracted from Gemini response');\n} catch (err) {\n  throw new Error(`Gemini extraction failed: ${err.message}. Raw keys: ${JSON.stringify(Object.keys(response))}`);\n}\n\nreturn { json: { text: text.trim() } };"
      },
      "id": "afbfa6fd-b1a9-4b4c-9476-f637c2d94418",
      "name": "Extract Transcription Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-template-url",
              "leftValue": "={{ $json.body.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b863d390-a1cb-47f6-bc45-b8b4ec4fefce",
      "name": "Template Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        1136
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger1').first().json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "81c5a1da-3c50-432c-9d21-e510b3efb3db",
      "name": "Scrape Template URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        1056
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─── Build Template Generator Payload ───\nconst body = $('Webhook Trigger1').first().json.body;\nconst documents = body.documents || [];\nconst userNotes = body.userNotes || '';\n\n// Try to get scraped URL content\nlet scrapedContent = '';\ntry {\n  const raw = $('Scrape Template URL').first().json;\n  if (typeof raw === 'string') scrapedContent = raw;\n  else if (raw.data) scrapedContent = String(raw.data);\n  else if (raw.body) scrapedContent = String(raw.body);\n} catch(e) { /* No scraped content */ }\n\n// Strip HTML tags from scraped content\nif (scrapedContent) {\n  scrapedContent = scrapedContent.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n  if (scrapedContent.length > 50000) scrapedContent = scrapedContent.substring(0, 50000) + '\\n[Content truncated]';\n}\n\nconst ROLE_LABELS = {\n  instructions: 'ASSIGNMENT INSTRUCTIONS',\n  rubric: 'GRADING RUBRIC',\n  sources: 'SOURCE MATERIALS'\n};\n\nconst parts = [];\n\n// Add inline documents (images, PDFs)\nfor (const doc of documents) {\n  parts.push({ text: `[${ROLE_LABELS[doc.role] || doc.role.toUpperCase()}: ${doc.name}]` });\n  if (doc.type === 'inline') {\n    parts.push({ inline_data: { mime_type: doc.mime_type, data: doc.base64 } });\n  } else if (doc.type === 'text') {\n    parts.push({ text: doc.content });\n  }\n}\n\n// Add scraped URL content\nif (scrapedContent) {\n  parts.push({ text: `[ONLINE RESOURCE from ${body.url}]:\\n${scrapedContent}` });\n}\n\n// Add student notes\nif (userNotes) {\n  parts.push({ text: `[STUDENT'S QUESTIONS/NOTES]:\\n${userNotes}` });\n}\n\n// Add the template generator prompt\nparts.push({\n  text: `You are an expert university lecturer and academic guide. The user has provided documents that may include an assignment brief, a grading rubric, and source materials (study guides/articles).\n\nYour task:\n1. DECONSTRUCT the assignment into a clear, logical essay outline or structured template.\n2. ALLOCATE a target word count for each section based on the overall limit.\n3. PROVIDE specific clues and references for each section. Explicitly mention which provided source document (and what concepts) the student should use for that specific paragraph.\n4. DO NOT write the essay for them. Act as a scaffolding tool to help them understand exactly what is required.\n5. Format your response in clean Markdown with clear headings and bullet points.`\n});\n\nconst geminiPayload = {\n  contents: [{ parts }],\n  generationConfig: {\n    temperature: 0.3,\n    topP: 0.85,\n    topK: 40,\n    maxOutputTokens: 8192\n  },\n  safetySettings: [\n    { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n  ]\n};\n\nreturn { json: { geminiPayload } };"
      },
      "id": "4fec591d-ed7b-4ff4-92b4-3a9dc6b76bc2",
      "name": "Build Template Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1136
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ \"AIzaSyDo3oYeEMlPpgJw9ReW77mvITEGKMhXfB8\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 300000
        }
      },
      "id": "75697cf6-c4b6-4d7a-8118-6ef5e0edcf7f",
      "name": "Call Gemini (Template)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        1136
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\n\ntry {\n  if (response.body && response.body.candidates && response.body.candidates.length > 0) {\n    const candidate = response.body.candidates[0];\n    if (candidate.content && candidate.content.parts) {\n      text = candidate.content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n    }\n  }\n  if (!text && response.candidates && response.candidates.length > 0) {\n    text = response.candidates[0].content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n  }\n  if (!text) throw new Error('No text extracted from Gemini response');\n} catch (err) {\n  throw new Error(`Gemini extraction failed: ${err.message}. Raw keys: ${JSON.stringify(Object.keys(response))}`);\n}\n\nreturn { json: { text: text.trim() } };"
      },
      "id": "bef49cd1-3b96-4d2c-a206-37c1fe284493",
      "name": "Extract Template Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1136
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-reviewer-url",
              "leftValue": "={{ $json.body.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20dbd742-7022-41bc-bdb2-390b27a70250",
      "name": "Reviewer Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        1440
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger1').first().json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "c1ae00d6-a7b3-4de0-875b-1b72b7aff542",
      "name": "Scrape Reviewer URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        1344
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─── Build Essay Reviewer Payload ───\nconst body = $('Webhook Trigger1').first().json.body;\nconst documents = body.documents || [];\nconst userNotes = body.userNotes || '';\n\n// Try to get scraped URL content\nlet scrapedContent = '';\ntry {\n  const raw = $('Scrape Reviewer URL').first().json;\n  if (typeof raw === 'string') scrapedContent = raw;\n  else if (raw.data) scrapedContent = String(raw.data);\n  else if (raw.body) scrapedContent = String(raw.body);\n} catch(e) { /* No scraped content */ }\n\n// Strip HTML tags from scraped content\nif (scrapedContent) {\n  scrapedContent = scrapedContent.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n  if (scrapedContent.length > 50000) scrapedContent = scrapedContent.substring(0, 50000) + '\\n[Content truncated]';\n}\n\nconst ROLE_LABELS = {\n  essay: 'STUDENT ESSAY/DRAFT',\n  instructions: 'ASSIGNMENT INSTRUCTIONS',\n  rubric: 'GRADING RUBRIC',\n  sources: 'SOURCE MATERIALS'\n};\n\nconst parts = [];\n\n// Add documents with role labels\nfor (const doc of documents) {\n  parts.push({ text: `[${ROLE_LABELS[doc.role] || doc.role.toUpperCase()}: ${doc.name}]` });\n  if (doc.type === 'inline') {\n    parts.push({ inline_data: { mime_type: doc.mime_type, data: doc.base64 } });\n  } else if (doc.type === 'text') {\n    parts.push({ text: doc.content });\n  }\n}\n\n// Add scraped URL content\nif (scrapedContent) {\n  parts.push({ text: `[ONLINE RESOURCE from ${body.url}]:\\n${scrapedContent}` });\n}\n\n// Add student notes\nif (userNotes) {\n  parts.push({ text: `[STUDENT'S QUESTIONS/NOTES]:\\n${userNotes}` });\n}\n\n// Add the reviewer prompt\nparts.push({\n  text: `You are a strict but empathetic university lecturer. The user has provided their draft essay, alongside their assignment instructions, rubric, and source materials.\n\nYour task:\n1. CRITIQUE the draft against the provided rubric and instructions.\n2. IDENTIFY strengths in their argument or synthesis.\n3. PINPOINT areas for improvement: Word count issues, missing core concepts, lack of synthesis, or poor formatting.\n4. QUOTE specific lines from their draft that need work, and explain *why* based on the rubric.\n5. DO NOT rewrite the essay for them. Give them actionable, constructive pointers so they can fix it themselves.\n6. Format your response in clean Markdown with sections like 'The Good', 'Areas for Improvement', and 'Rubric Check'.`\n});\n\nconst geminiPayload = {\n  contents: [{ parts }],\n  generationConfig: {\n    temperature: 0.3,\n    topP: 0.85,\n    topK: 40,\n    maxOutputTokens: 8192\n  },\n  safetySettings: [\n    { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n  ]\n};\n\nreturn { json: { geminiPayload } };"
      },
      "id": "cecf91a6-24c2-4c86-be43-3c7429d7d587",
      "name": "Build Reviewer Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ \"AIzaSyDo3oYeEMlPpgJw9ReW77mvITEGKMhXfB8\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 300000
        }
      },
      "id": "3efd0ceb-7eab-4ae6-a8a3-66e0db0bc586",
      "name": "Call Gemini (Reviewer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        1440
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\n\ntry {\n  if (response.body && response.body.candidates && response.body.candidates.length > 0) {\n    const candidate = response.body.candidates[0];\n    if (candidate.content && candidate.content.parts) {\n      text = candidate.content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n    }\n  }\n  if (!text && response.candidates && response.candidates.length > 0) {\n    text = response.candidates[0].content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n  }\n  if (!text) throw new Error('No text extracted from Gemini response');\n} catch (err) {\n  throw new Error(`Gemini extraction failed: ${err.message}. Raw keys: ${JSON.stringify(Object.keys(response))}`);\n}\n\nreturn { json: { text: text.trim() } };"
      },
      "id": "8220dbba-da19-4f39-a533-a29bd5f95606",
      "name": "Extract Reviewer Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-tools",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "32855ffe-d9b4-4b05-b14e-7f7fdb4192c5",
      "name": "Webhook Trigger1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        1184
      ],
      "webhookId": "student-tools"
    },
    {
      "parameters": {
        "jsCode": "// Handle error reports from the frontend\nconst body = $('Webhook Trigger1').first().json.body;\n\nreturn {\n  json: {\n    to: body.recipient,\n    subject: `[Student Tools Hub Error] ${new Date().toISOString()}`,\n    htmlBody: `\n      <h2>Student Tools Hub — Error Report</h2>\n      <p><strong>Timestamp:</strong> ${body.timestamp}</p>\n      <p><strong>User Agent:</strong> ${body.userAgent}</p>\n      <p><strong>User Message:</strong> ${body.error.userMessage}</p>\n      <hr/>\n      <h3>Technical Detail</h3>\n      <pre style=\"background:#f4f4f4;padding:12px;border-radius:6px;font-size:13px;overflow-x:auto;\">${body.error.technicalDetail}</pre>\n    `\n  }\n};"
      },
      "id": "e65784f7-3915-4cbb-ae6c-a16544c97478",
      "name": "Handle Error Report1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1744
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ \"jay-leigh.v@conversionscience.co.za\" }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "85ddf3ba-cfb0-4092-be3a-943c02923510",
      "name": "Send Error Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        1744
      ],
      "webhookId": "5bfa1643-d9a0-466f-8042-b069b8855b25",
      "credentials": {
        "gmailOAuth2": {
          "id": "qmCIR8VCVH51du3B",
          "name": "Google Access"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { status: 'error_reported' } };"
      },
      "id": "62aaf9e9-b729-4f9a-831d-5d67521bb6a8",
      "name": "Error Email Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1744
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nreturn {\n  json: {\n    to: 'jay-leigh.v@conversionscience.co.za',\n    subject: `[STH Workflow Error] ${error.workflow?.name || 'Unknown'} — ${new Date().toISOString()}`,\n    htmlBody: `\n      <h2>n8n Workflow Error — Student Tools Hub</h2>\n      <p><strong>Workflow:</strong> ${error.workflow?.name || 'N/A'}</p>\n      <p><strong>Node:</strong> ${error.execution?.lastNodeExecuted || 'N/A'}</p>\n      <p><strong>Error:</strong> ${error.execution?.error?.message || 'Unknown error'}</p>\n      <hr/>\n      <h3>Full Error</h3>\n      <pre style=\"background:#f4f4f4;padding:12px;border-radius:6px;font-size:13px;overflow-x:auto;\">${JSON.stringify(error, null, 2)}</pre>\n    `\n  }\n};"
      },
      "id": "c658c67e-5cd4-45a7-8d78-b58a71c2bc38",
      "name": "Format Workflow Error1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1936
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ \"jay-leigh.v@conversionscience.co.za\" }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "6b386bb2-f31d-41bd-b831-7d58bb41aff6",
      "name": "Send Workflow Error Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        48,
        1936
      ],
      "webhookId": "8fa5923a-cb7a-405b-8837-6b5459fbb38f",
      "credentials": {
        "gmailOAuth2": {
          "id": "qmCIR8VCVH51du3B",
          "name": "Google Access"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Route Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Request": {
      "main": [
        [
          {
            "node": "Build Gemini Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Payload": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error Report": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Email": {
      "main": [
        [
          {
            "node": "Error Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Workflow Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Workflow Error": {
      "main": [
        [
          {
            "node": "Send Workflow Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Mode": {
      "main": [
        [
          {
            "node": "Build Transcription Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Template Has URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reviewer Has URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transcription Payload": {
      "main": [
        [
          {
            "node": "Call Gemini (Transcription)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini (Transcription)": {
      "main": [
        [
          {
            "node": "Extract Transcription Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Has URL?": {
      "main": [
        [
          {
            "node": "Scrape Template URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Template Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Template URL": {
      "main": [
        [
          {
            "node": "Build Template Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Template Payload": {
      "main": [
        [
          {
            "node": "Call Gemini (Template)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini (Template)": {
      "main": [
        [
          {
            "node": "Extract Template Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviewer Has URL?": {
      "main": [
        [
          {
            "node": "Scrape Reviewer URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Reviewer Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Reviewer URL": {
      "main": [
        [
          {
            "node": "Build Reviewer Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reviewer Payload": {
      "main": [
        [
          {
            "node": "Call Gemini (Reviewer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini (Reviewer)": {
      "main": [
        [
          {
            "node": "Extract Reviewer Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger1": {
      "main": [
        [
          {
            "node": "Route by Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error Report1": {
      "main": [
        [
          {
            "node": "Send Error Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Email1": {
      "main": [
        [
          {
            "node": "Error Email Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Workflow Error1": {
      "main": [
        [
          {
            "node": "Send Workflow Error Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "186f8da9-f63e-496e-b985-a76320e5678e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4190c168cbd50dfbfe156f5f76c01bdc79d29b27692b6eaffe874511c6dddbe7"
  },
  "id": "dT6ZBofuwIcBjAUS",
  "tags": []
}