Student Tools Hub Pipeline.json
{
  "name": "Student Tools Hub Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-tools",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "b1a00001-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-700, 300],
      "webhookId": "student-tools"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-transcribe",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "transcribe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Transcribe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-template",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "template",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Template"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-reviewer",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "reviewer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Reviewer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-error",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "error_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "Error Report"
            }
          ]
        },
        "options": {}
      },
      "id": "b1a00001-0002-4000-8000-000000000002",
      "name": "Route by Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-440, 300]
    },

    {
      "parameters": {
        "jsCode": "// ─── Build Transcription Payload ───\nconst body = $('Webhook Trigger').first().json.body;\nconst documents = body.documents || [];\n\nconst parts = [];\n\n// Add each document\nfor (const doc of documents) {\n  if (doc.type === 'inline') {\n    parts.push({\n      inline_data: {\n        mime_type: doc.mime_type,\n        data: doc.base64\n      }\n    });\n  } else if (doc.type === 'text') {\n    parts.push({ text: `[Content from ${doc.name}]:\\n${doc.content}` });\n  }\n}\n\n// Add the transcription prompt\nparts.push({\n  text: `You are a professional transcription assistant. You have been given ${documents.length} document(s) containing handwritten notes, essays, or mind maps.\n\nYour task:\n1. CAREFULLY read the handwriting in each document, in the exact order they were provided.\n2. UNDERSTAND the logical flow and context across all pages — they form a single continuous document.\n3. TRANSCRIBE the handwriting into clean, well-structured digital text.\n4. PRESERVE the author's original intent, ideas, paragraph structure, and any headings or bullet points.\n5. If the handwriting contains a mind map, convert it into a logical outline or structured text.\n6. Separate content from different pages with a blank line, but maintain narrative continuity.\n7. Fix obvious spelling errors in the handwriting, but do NOT add, remove, or rephrase the author's ideas.\n8. DO identify if the author had struck through lines or massive crossing out — this means the user has removed that content and does not want it transcribed.\n9. Do NOT add any commentary, preamble, or summary — output ONLY the transcribed text.\n\nBegin transcription now:`\n});\n\nconst geminiPayload = {\n  contents: [{ parts }],\n  generationConfig: {\n    temperature: 0.2,\n    topP: 0.8,\n    topK: 40,\n    maxOutputTokens: 8192\n  },\n  safetySettings: [\n    { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n  ]\n};\n\nreturn { json: { geminiPayload } };"
      },
      "id": "b1a00001-0003-4000-8000-000000000003",
      "name": "Build Transcription Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-140, -50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key={{ \"AIzaSyDo3oYeEMlPpgJw9ReW77mvITEGKMhXfB8\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 300000
        }
      },
      "id": "b1a00001-0004-4000-8000-000000000004",
      "name": "Call Gemini (Transcription)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [120, -50],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\n\ntry {\n  if (response.body && response.body.candidates && response.body.candidates.length > 0) {\n    const candidate = response.body.candidates[0];\n    if (candidate.content && candidate.content.parts) {\n      text = candidate.content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n    }\n  }\n  if (!text && response.candidates && response.candidates.length > 0) {\n    text = response.candidates[0].content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n  }\n  if (!text) throw new Error('No text extracted from Gemini response');\n} catch (err) {\n  throw new Error(`Gemini extraction failed: ${err.message}. Raw keys: ${JSON.stringify(Object.keys(response))}`);\n}\n\nreturn { json: { text: text.trim() } };"
      },
      "id": "b1a00001-0005-4000-8000-000000000005",
      "name": "Extract Transcription Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, -50]
    },

    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-template-url",
              "leftValue": "={{ $json.body.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1a00001-0006-4000-8000-000000000006",
      "name": "Template Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-140, 250]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Webhook Trigger').first().json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "b1a00001-0007-4000-8000-000000000007",
      "name": "Scrape Template URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [120, 160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─── Build Template Generator Payload ───\nconst body = $('Webhook Trigger').first().json.body;\nconst documents = body.documents || [];\nconst userNotes = body.userNotes || '';\n\n// Try to get scraped URL content\nlet scrapedContent = '';\ntry {\n  const raw = $('Scrape Template URL').first().json;\n  if (typeof raw === 'string') scrapedContent = raw;\n  else if (raw.data) scrapedContent = String(raw.data);\n  else if (raw.body) scrapedContent = String(raw.body);\n} catch(e) { /* No scraped content */ }\n\n// Strip HTML tags from scraped content\nif (scrapedContent) {\n  scrapedContent = scrapedContent.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n  if (scrapedContent.length > 50000) scrapedContent = scrapedContent.substring(0, 50000) + '\\n[Content truncated]';\n}\n\nconst ROLE_LABELS = {\n  instructions: 'ASSIGNMENT INSTRUCTIONS',\n  rubric: 'GRADING RUBRIC',\n  sources: 'SOURCE MATERIALS'\n};\n\nconst parts = [];\n\n// Add inline documents (images, PDFs)\nfor (const doc of documents) {\n  parts.push({ text: `[${ROLE_LABELS[doc.role] || doc.role.toUpperCase()}: ${doc.name}]` });\n  if (doc.type === 'inline') {\n    parts.push({ inline_data: { mime_type: doc.mime_type, data: doc.base64 } });\n  } else if (doc.type === 'text') {\n    parts.push({ text: doc.content });\n  }\n}\n\n// Add scraped URL content\nif (scrapedContent) {\n  parts.push({ text: `[ONLINE RESOURCE from ${body.url}]:\\n${scrapedContent}` });\n}\n\n// Add student notes\nif (userNotes) {\n  parts.push({ text: `[STUDENT'S QUESTIONS/NOTES]:\\n${userNotes}` });\n}\n\n// Add the template generator prompt\nparts.push({\n  text: `You are an expert university lecturer and academic guide. The user has provided documents that may include an assignment brief, a grading rubric, and source materials (study guides/articles).\n\nYour task:\n1. DECONSTRUCT the assignment into a clear, logical essay outline or structured template.\n2. ALLOCATE a target word count for each section based on the overall limit.\n3. PROVIDE specific clues and references for each section. Explicitly mention which provided source document (and what concepts) the student should use for that specific paragraph.\n4. DO NOT write the essay for them. Act as a scaffolding tool to help them understand exactly what is required.\n5. Format your response in clean Markdown with clear headings and bullet points.`\n});\n\nconst geminiPayload = {\n  contents: [{ parts }],\n  generationConfig: {\n    temperature: 0.3,\n    topP: 0.85,\n    topK: 40,\n    maxOutputTokens: 8192\n  },\n  safetySettings: [\n    { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n  ]\n};\n\nreturn { json: { geminiPayload } };"
      },
      "id": "b1a00001-0008-4000-8000-000000000008",
      "name": "Build Template Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key={{ \"AIzaSyDo3oYeEMlPpgJw9ReW77mvITEGKMhXfB8\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 300000
        }
      },
      "id": "b1a00001-0009-4000-8000-000000000009",
      "name": "Call Gemini (Template)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 250],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\n\ntry {\n  if (response.body && response.body.candidates && response.body.candidates.length > 0) {\n    const candidate = response.body.candidates[0];\n    if (candidate.content && candidate.content.parts) {\n      text = candidate.content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n    }\n  }\n  if (!text && response.candidates && response.candidates.length > 0) {\n    text = response.candidates[0].content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n  }\n  if (!text) throw new Error('No text extracted from Gemini response');\n} catch (err) {\n  throw new Error(`Gemini extraction failed: ${err.message}. Raw keys: ${JSON.stringify(Object.keys(response))}`);\n}\n\nreturn { json: { text: text.trim() } };"
      },
      "id": "b1a00001-0010-4000-8000-000000000010",
      "name": "Extract Template Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 250]
    },

    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-reviewer-url",
              "leftValue": "={{ $json.body.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1a00001-0011-4000-8000-000000000011",
      "name": "Reviewer Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-140, 550]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Webhook Trigger').first().json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "b1a00001-0012-4000-8000-000000000012",
      "name": "Scrape Reviewer URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [120, 460],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─── Build Essay Reviewer Payload ───\nconst body = $('Webhook Trigger').first().json.body;\nconst documents = body.documents || [];\nconst userNotes = body.userNotes || '';\n\n// Try to get scraped URL content\nlet scrapedContent = '';\ntry {\n  const raw = $('Scrape Reviewer URL').first().json;\n  if (typeof raw === 'string') scrapedContent = raw;\n  else if (raw.data) scrapedContent = String(raw.data);\n  else if (raw.body) scrapedContent = String(raw.body);\n} catch(e) { /* No scraped content */ }\n\n// Strip HTML tags from scraped content\nif (scrapedContent) {\n  scrapedContent = scrapedContent.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n  if (scrapedContent.length > 50000) scrapedContent = scrapedContent.substring(0, 50000) + '\\n[Content truncated]';\n}\n\nconst ROLE_LABELS = {\n  essay: 'STUDENT ESSAY/DRAFT',\n  instructions: 'ASSIGNMENT INSTRUCTIONS',\n  rubric: 'GRADING RUBRIC',\n  sources: 'SOURCE MATERIALS'\n};\n\nconst parts = [];\n\n// Add documents with role labels\nfor (const doc of documents) {\n  parts.push({ text: `[${ROLE_LABELS[doc.role] || doc.role.toUpperCase()}: ${doc.name}]` });\n  if (doc.type === 'inline') {\n    parts.push({ inline_data: { mime_type: doc.mime_type, data: doc.base64 } });\n  } else if (doc.type === 'text') {\n    parts.push({ text: doc.content });\n  }\n}\n\n// Add scraped URL content\nif (scrapedContent) {\n  parts.push({ text: `[ONLINE RESOURCE from ${body.url}]:\\n${scrapedContent}` });\n}\n\n// Add student notes\nif (userNotes) {\n  parts.push({ text: `[STUDENT'S QUESTIONS/NOTES]:\\n${userNotes}` });\n}\n\n// Add the reviewer prompt\nparts.push({\n  text: `You are a strict but empathetic university lecturer. The user has provided their draft essay, alongside their assignment instructions, rubric, and source materials.\n\nYour task:\n1. CRITIQUE the draft against the provided rubric and instructions.\n2. IDENTIFY strengths in their argument or synthesis.\n3. PINPOINT areas for improvement: Word count issues, missing core concepts, lack of synthesis, or poor formatting.\n4. QUOTE specific lines from their draft that need work, and explain *why* based on the rubric.\n5. DO NOT rewrite the essay for them. Give them actionable, constructive pointers so they can fix it themselves.\n6. Format your response in clean Markdown with sections like 'The Good', 'Areas for Improvement', and 'Rubric Check'.`\n});\n\nconst geminiPayload = {\n  contents: [{ parts }],\n  generationConfig: {\n    temperature: 0.3,\n    topP: 0.85,\n    topK: 40,\n    maxOutputTokens: 8192\n  },\n  safetySettings: [\n    { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n  ]\n};\n\nreturn { json: { geminiPayload } };"
      },
      "id": "b1a00001-0013-4000-8000-000000000013",
      "name": "Build Reviewer Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 550]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key={{ \"AIzaSyDo3oYeEMlPpgJw9ReW77mvITEGKMhXfB8\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 300000
        }
      },
      "id": "b1a00001-0014-4000-8000-000000000014",
      "name": "Call Gemini (Reviewer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 550],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet text = '';\n\ntry {\n  if (response.body && response.body.candidates && response.body.candidates.length > 0) {\n    const candidate = response.body.candidates[0];\n    if (candidate.content && candidate.content.parts) {\n      text = candidate.content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n    }\n  }\n  if (!text && response.candidates && response.candidates.length > 0) {\n    text = response.candidates[0].content.parts.filter(p => p.text).map(p => p.text).join('\\n');\n  }\n  if (!text) throw new Error('No text extracted from Gemini response');\n} catch (err) {\n  throw new Error(`Gemini extraction failed: ${err.message}. Raw keys: ${JSON.stringify(Object.keys(response))}`);\n}\n\nreturn { json: { text: text.trim() } };"
      },
      "id": "b1a00001-0015-4000-8000-000000000015",
      "name": "Extract Reviewer Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 550]
    },

    {
      "parameters": {
        "jsCode": "// Handle error reports from the frontend\nconst body = $('Webhook Trigger').first().json.body;\n\nreturn {\n  json: {\n    to: body.recipient,\n    subject: `[Student Tools Hub Error] ${new Date().toISOString()}`,\n    htmlBody: `\n      <h2>Student Tools Hub — Error Report</h2>\n      <p><strong>Timestamp:</strong> ${body.timestamp}</p>\n      <p><strong>User Agent:</strong> ${body.userAgent}</p>\n      <p><strong>User Message:</strong> ${body.error.userMessage}</p>\n      <hr/>\n      <h3>Technical Detail</h3>\n      <pre style=\"background:#f4f4f4;padding:12px;border-radius:6px;font-size:13px;overflow-x:auto;\">${body.error.technicalDetail}</pre>\n    `\n  }\n};"
      },
      "id": "b1a00001-0016-4000-8000-000000000016",
      "name": "Handle Error Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-140, 850]
    },
    {
      "parameters": {
        "sendTo": "={{ \"jay-leigh.v@conversionscience.co.za\" }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "b1a00001-0017-4000-8000-000000000017",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [120, 850],
      "credentials": {
        "gmailOAuth2": {
          "id": "qmCIR8VCVH51du3B",
          "name": "Google Access"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: { status: 'error_reported' } };"
      },
      "id": "b1a00001-0018-4000-8000-000000000018",
      "name": "Error Email Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 850]
    },

    {
      "parameters": {},
      "id": "b1a00001-0019-4000-8000-000000000019",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-700, 1050]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nreturn {\n  json: {\n    to: 'jay-leigh.v@conversionscience.co.za',\n    subject: `[STH Workflow Error] ${error.workflow?.name || 'Unknown'} — ${new Date().toISOString()}`,\n    htmlBody: `\n      <h2>n8n Workflow Error — Student Tools Hub</h2>\n      <p><strong>Workflow:</strong> ${error.workflow?.name || 'N/A'}</p>\n      <p><strong>Node:</strong> ${error.execution?.lastNodeExecuted || 'N/A'}</p>\n      <p><strong>Error:</strong> ${error.execution?.error?.message || 'Unknown error'}</p>\n      <hr/>\n      <h3>Full Error</h3>\n      <pre style=\"background:#f4f4f4;padding:12px;border-radius:6px;font-size:13px;overflow-x:auto;\">${JSON.stringify(error, null, 2)}</pre>\n    `\n  }\n};"
      },
      "id": "b1a00001-0020-4000-8000-000000000020",
      "name": "Format Workflow Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-440, 1050]
    },
    {
      "parameters": {
        "sendTo": "={{ \"jay-leigh.v@conversionscience.co.za\" }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "b1a00001-0021-4000-8000-000000000021",
      "name": "Send Workflow Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-180, 1050],
      "credentials": {
        "gmailOAuth2": {
          "id": "qmCIR8VCVH51du3B",
          "name": "Google Access"
        }
      }
    }
  ],

  "pinData": {},

  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Route by Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Mode": {
      "main": [
        [
          {
            "node": "Build Transcription Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Template Has URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reviewer Has URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transcription Payload": {
      "main": [
        [
          {
            "node": "Call Gemini (Transcription)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini (Transcription)": {
      "main": [
        [
          {
            "node": "Extract Transcription Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Has URL?": {
      "main": [
        [
          {
            "node": "Scrape Template URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Template Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Template URL": {
      "main": [
        [
          {
            "node": "Build Template Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Template Payload": {
      "main": [
        [
          {
            "node": "Call Gemini (Template)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini (Template)": {
      "main": [
        [
          {
            "node": "Extract Template Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviewer Has URL?": {
      "main": [
        [
          {
            "node": "Scrape Reviewer URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Reviewer Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Reviewer URL": {
      "main": [
        [
          {
            "node": "Build Reviewer Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reviewer Payload": {
      "main": [
        [
          {
            "node": "Call Gemini (Reviewer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini (Reviewer)": {
      "main": [
        [
          {
            "node": "Extract Reviewer Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error Report": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Email": {
      "main": [
        [
          {
            "node": "Error Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Workflow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Workflow Error": {
      "main": [
        [
          {
            "node": "Send Workflow Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },

  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-sth-v2-0000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4190c168cbd50dfbfe156f5f76c01bdc79d29b27692b6eaffe874511c6dddbe7"
  },
  "id": "studentToolsHub01",
  "tags": []
}
